@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&display=swap');
:root{
    /* color */
    --Very-Dark-Purple: #24053E;
    --Light-Lemon-Green: #44FFA1;
    --Dark-Grayish-Brown: #584D62;
    --Very-Grayish-White: #FCF8FF;
    --White: #FFFFFF;
    /* Typo */
    --font-family-1: "Manrope", sans-serif;
    --font-family-2: "Fraunces", sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
body{
    font-family: var(--font-family);
}
main{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
.hero{
    position: relative;
 }
.top{
    height: 45.625rem;
    max-width: 100rem;
    margin: 0 auto;
    background-color: var(--Very-Dark-Purple);
    border-bottom-left-radius: 45% 4%;
    border-bottom-right-radius: 45% 4%;
    z-index: 5;
}
header{
    display: flex;
    justify-content: space-between;
    max-width: 80rem;
    margin: 0 auto;
    color: var(--White);
    padding: 1em 2em;
}
.logo{
    font-size: clamp( 2em, 5vw, 6.25em);
}
header span{
    font-weight: bolder;
}
.data-content{
    display: flex;
    justify-content: space-between;
}
.Tablet-spiral1, .Tablet-spiral2{
    display: none;
}
.spiral-1{
    grid-column: 1 / 1;
    margin-inline-end: em;
}
.applyForAccessText{
    text-align: center;
    font-size: clamp( 1em, 2vw, 3em);
    display: grid;
    place-items: center;
    border-bottom: 2px solid var(--Light-Lemon-Green);
    transition: .3s ease-in-out;
}
.applyForAccessText:hover{
    cursor: pointer;
    color: var(--Light-Lemon-Green);
}
.data-box{
    height: auto;
    max-width: 25em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
.btn{
    background-color: var(--Light-Lemon-Green);
    color: var(--Very-Dark-Purple);
    /* font-size: clamp(1rem, 1vw, 4rem); */
    padding: 1em;
    border: 2px solid var(--Light-Lemon-Green);
    font-weight: 400;
    transition: .3s ease-in-out;
}
.btn:hover{
    background: transparent;
    color: var(--Light-Lemon-Green);
}
.data-box .title{
    font-size: clamp(2.5rem, 4vw, 5rem);
    color: var(--White);
}
.data-box .title span{
    border-bottom: 2px solid var(--Light-Lemon-Green);
}
.iPhone-11{
    z-index: 10;
    position: relative;
    top: 0;
    left: 25%;

}

/* MIDDLE - SECTION - STYLES */
.middle{
    position: relative;
    bottom: 10em;
    z-index: -1;
    height: 50em;
    display: grid;
    background: var(--Very-Grayish-White);
    border-bottom-left-radius: 45% 4%;
    border-bottom-right-radius: 45% 4%;
    /* clip-path: ellipse(200% 75% at top center); */
}
.flex{
    display: flex;
    gap: 1em;
    text-align: center;
    padding: 2em 5em;
    font-family: var(--font-family-2);
    height: auto;
    place-self: center;
    margin-top: 10%;
}
.article{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    padding: 2em;
}
.number{
    display: grid;
    place-items: center;
    margin: 0 auto;
    width: 2em;
    height: 2em;
    border: 1px solid var(--Dark-Grayish-Brown);
    border-radius: 50%;
}
.main-art{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.article-title{
    font-size: clamp(1.5rem, 1.5vw, 2.8rem);
}
.article-text{
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 1.5em;
}

/* BOTTOM - SECTION - SECTION*/
.bottom{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 2em 5em;
    width: 100%;
    max-width: 100em;
    /* margin: 5em auto; */
    place-items: center;
}
.jerry, .context-box{
    grid-row: 1 / 2;
}
.jerry{
    /* scale: .8; */
    grid-column: 1 / 4;
}
.context-box{
    grid-column: 3 / -1;
    background: var(--Very-Dark-Purple);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    align-items: start;
    text-align: left;
    line-height: 2em;
    margin-inline-start: 5%;
    position: relative;
    top: 25%;
}
.context-box .title{
    font-family: var(--font-family-2);
    color: var(--White);
    font-size: clamp(2rem, 3vw, 6.5rem);
}
.context-paragraph{
    font-family: var(--font-family-1);
    color: var(--White);
    font-size: clamp(1rem, 1vw, 3rem);
}
.spiral{
    grid-column:  4/-1;
    /* grid-row: 1 / 3; */
    position: relative;
    bottom: 50%;
    left: 1%;
}
.footer{
    display: flex;
    gap: 1em;
    flex-direction: column;
    place-items: center;
    padding: 2em 0;
    margin: 0 auto;
}
.footer-logo{
    color: var(--Very-Dark-Purple);
}
.social-media{
    display: flex;
    gap: 2em;
    justify-content: space-between;
    cursor: pointer;
}
.social-media i{
    color: var(--Dark-Grayish-Brown);
}
.social-media i:hover{
    color: var(--Very-Dark-Purple);
}

/* TABLET - VIEW - STYLES */

@media screen and (max-width: 768px) {
    .spiral-1, .spiral-2{
        display: none;
    }
    .Tablet-spiral1, .Tablet-spiral2{
        display: block;
    }
    .middle{
        bottom: 5em;
    }
    .top{
        height: 33.765rem;
    }
    .iPhone-11{
        top: 0;
        left: 0;
    }
    .flex{
        flex-direction: column;
        align-self: center;
        padding: 0;
        gap: 0;
    }
    .article{
        text-align: left;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        padding: 2em 0;
        align-items: center;
    } 
    .number{
        flex-basis: 10%;
    }
    .main-art{
        padding: 0 1.5em;
    }
    /* .phone{
        position: relative;
        top: 10%;
        left: 5%;
        display: grid;
        place-content: center;
    } */
    .bottom{
        height: auto;
        display: grid;
        width: 90%;
        margin: 0 auto;
    }
    .jerry{
        scale: .8;
        grid-column: 1 / 4;
    }
    .context-box{
        grid-column: 3 / -1;
        position: relative;
        top: 0;
    }
    .spiral{
        scale: .8;
        grid-column: 6 / -1;
        grid-row: 2 / 3;
        position: relative;
        margin-inline-start: 2.5em;
    }
}

/* MOBILE - VIEW - STYLES */

@media screen and (max-width: 465px) {
    .Tablet-spiral1, .Tablet-spiral2{
        display: none;
    }
    .top{
        height: 20em;
    }
    .flex{
        flex-direction: column;
        padding: 0;
        margin-top: 80%;
        gap: 0;
    }
    .article{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    .middle{
        height: auto;
        top: 10%;
    }
    .article{
        padding: 1em 0;
    }
    .iPhone-11{
        top: 13%;
        left: 13%;
    }
    .main-art{
        padding: 0 1em;
    }
    .bottom{
        position: relative;
        height: auto;
        width: 100%;
        padding: 0;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-self: center;
    }
    .jerry{
        width: 15em;
        height: 15em;
        grid-column: 2 / 5;
        place-self: center;
        position: relative;
        top: 30%;
    }
    .context-box{
        z-index: 2;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        width: 90%; 
        height: auto;
        text-align: center;
        place-self: center;
        margin: auto;
        position: relative;
    }
    .spiral,.spiral-1,.spiral-2{
        display: none;
    }
}